.flash-success,
.flash-warning,
.flash-error {
  display: block;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 1;
}

.flash-success {

}

.flash-warning {
  color: yellow;
}

.flash-error {
  color: red;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
   {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}
